.inputFP{
  width: 100vw;
  margin-top: 10rem;
  font-size: 1.5rem;
}
.inputFP_child{
  width: 30vw;
  margin: 0 auto;
}
.lbutton{
  margin-top: 3rem;
  width: 15rem;
}

.control {
  width: 150px;
  margin: 0 auto;
}

html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

@media only screen and (max-width: 980px) {
  html{
    font-size: 44.2%;
  }
  .inputFP_child{
    width: 40vw;
    margin-top: 10rem;
  }
  .lbutton{
    display: none;
  }
}
@media only screen and (max-width: 450px){
  .inputFP_child{
    width: 70vw;
    margin-top: 10rem;
  }
  .lbutton{
    display: none;
  }
}