.inputFP{
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.inputForm {
  display: flex;
  height: calc(100% - 200px);
  justify-content: center;
  align-items: center;
}

.inputFP_child{
  width: 50rem;
  margin: 0 auto;
}
.lbutton{
  font-size: 2rem;
  width: 15rem;
}

.control {
  width: 150px;
  margin: 2rem auto;
}
html {
  height: 100%;
  font-size: 62.5%;
}
body{
  height: 100%;
}

.inputFP_child .form-control {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#nameLabel {
  padding-left: 1rem;
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 75%;
  }

  .inputFP_child .form-control {
    font-size: 1.5rem;
  }

  .inputFP {
    position: static;
    top: auto;
    left: auto;
    transform: none;
    padding: 0 2rem;
    display: flex;
    width: 100%;
  }

  .inputFP_child{
    width: 100%;
  }
  .control{
    display: none;
  }
}